.secundary-color ul li a, .secundary-color a{
	color: #000;

}

.breadcrumbs {
	display: block;
	padding: 0;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
}

.breadcrumbs>* {
	margin: 0;
	float: left;
	font-size: 1rem;
	line-height: 1rem;
}

.breadcrumbs>*:first-child:before {
	content: " ";
	margin: 0;
}

.breadcrumbs>*:before {
	content: "/";
	color: #aaa;
	margin: 0.6667rem;
	position: relative;
	top: 1px;
}

.breadcrumbs>*.current a{
	cursor: default;
	color: #333;
}

.interhospital-h1 {
	font-size: 1.64rem;
	line-height: 1.64rem;
	font-weight: 200;
	margin: 10px 0px 35px;
	padding:0;
}

.filter-elements {
	margin-top: 10px;
}

.filter-elements .small-btn {
	padding: 0 10px;
}

.filter-elements .btn{
	font-size: .9rem;
	text-transform: none;
	display: block;
}

.mar-bot{
	margin-bottom: 15px;
}

/*.active .collapsible-body {
	padding-top: 20px;
	margin-top: 0px;
	padding-bottom: 20px;
	margin-bottom: 0px;

}*/

.zise-start i{
	font-size: 15px;
}

.subprice{
	position: absolute;
	color: #bdbdbd;
	right: 11px;
	top: 1px;
	text-decoration: line-through;
}

.card-content h3 a{
	padding: 0;	
	margin:0;
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 300;
}

.slider-logos img{
	height:50px;
	display:block;
	margin:20px 30px;
}