.white-color {
	color: #fff;
}

.contedor-one {
	background: rgba(54,192,209,0.6); 
	max-width: none; 
	padding-top: 30px;
	padding-bottom: 30px;
}

.buton-radios {
	border-radius: 25px; 
	background: rgba(54,192,209,0.6);
}

.img-80x80 {
	width: 80px; 
	height: 80px;
}

.icon-left {
	float: left; 
	left: 0px;
	width: 48px;
	height: 48px;
	position: absolute;
}

.article li{
	display: block;
	padding-left: 56px;
	position: relative;
}

.color-primary {
	background: #36c0d1;
}
.color-primary-text li a:not(.button) {
	color: #36c0d1;
}



.padd-no-lef-rigt {
	padding-left: 0 !important;
	padding-right: 0 !important; 

}

.color-white{
	color: #fff;
}

.color-white li a {
	color: #fff;
}